/* Components/NotFound/NotFound.scss */
.not-found {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Full viewport height */
    text-align: center;
  }
  
  .not-found h2 {
    font-size: 2em;
  }
  
  .not-found p {
    font-size: 1.2em;
  }
  