.app-header {
    background-color: #f8f9fa;
    padding: 20px;
    text-align: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
  }
  
  .app-header .logo {
    width: 100px; /* Adjust the width as needed */
    margin-right: 20px; /* Add some spacing between the logo and the content */
  }
  
  .header-content {
    flex: 1; /* Allow the content to take up the available space */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  
  .app-header h1,
  .app-header h2,
  .header-content p {
    margin: 0; /* Remove default margin for better alignment */
  }
  
  .app-header h1 {
    font-size: 2.5rem;
    color: #343a40;
    font-weight: 700; /* Bold font weight */
  }
  
  .app-header h2 {
    font-size: 1.5rem;
    color: #6c757d;
    font-weight: 400; /* Normal font weight */
  }
  
  @media (max-width: 768px) {
    /* Adjust font sizes for smaller screens */
    .app-header h1 {
      font-size: 1.5rem;
    }
  
    .app-header h2 {
      font-size: 1rem;
    }
    .app-header .logo {
        width: 60px; /* Adjust the width as needed */
        margin-right: 10px; /* Add some spacing between the logo and the content */
      }
  }
  